body {
  background-color: rosybrown;
}

.blog-post-card {
  width: 350px;
  height: 470px;
  background-color: white;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
}

.post-title {
  font-family: comic-sans, Arial;
  font-size: 25px;
  color: black;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.post-content {
  padding: 15px;
}

.post-excerpt {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-family: comic-sans, Arial;
  font-size: 16px;
  color: gray;
}

.read-more {
  background-color: black;
  color: white;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  font-family: comic-sans, Arial;
  font-size: 16px;
  text-decoration: none;
}

.read-more:hover {
  background-color: pink !important;
}

.post-img {
  max-width: 350px;
  border-bottom: 3px solid #160C04;
  border-radius: 15px;
}
